<%- include("../partials/header") %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1 class="text-center">
				Campgrounds
			</h1>
			<button class="btn btn-info btn-lrg">
				<a class="text-white" href="/campgrounds/new">Add New Campground</a>
			</button>
		</div>
	</header>


	<div class="row">
		<% campgrounds.forEach(function(camp) { %>
			<div class="col-md-4 col-sm-6">
				<div class="card">
					<img class="card-img-top img-thumbnail" src= '<%= camp.image %>' >
					<div class="card-body">
						<h5 class="card-title text-center">
							<%= camp.name %>
						</h5>
						<p class="text-center">
							<a class="btn btn-info" href="/campgrounds/<%= camp._id %>">More Info</a>
						</p>
					</div>
				</div>
			</div>
		<% }); %>
	</div>

	<a href="/">Return to Home</a>

	<%- include("../partials/footer") %>
</div>