<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">
				YelpCamp
			</p>
			<div class="d-none list-group">
				<li class="list-group-item">Dicks</li>
				<li class="list-group-item">Mega Big Boy</li>
				<li class="list-group-item">Elephant Cock</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="card-body">
					<img class="card-img-top img-fluid" src='<%= campgrounds.image %>'>
					<h2 class="card-title">
						<%= campgrounds.name %>
					</h2>
					<div class="caption-full">
						<h4 class="float-md-right">
							$<%= campgrounds.price %>/night
						</h4>
					</div>
					<p class="card-text">
						<%= campgrounds.description %> 
					</p>
					<p class="card-text">
						Submitted by <strong><%= campgrounds.author.username %></strong> 
					</p>
					<div>
						<% if(currentUser && campgrounds.author.id.equals(currentUser._id)) { %>
						<a class="btn btn-sm btn-warning" href="/campgrounds/<%= campgrounds._id %>/edit">Edit Campground</a>
						<form class="button" action="/campgrounds/<%= campgrounds._id %>?_method=DELETE" method="POST">
							<button class="btn btn-sm btn-danger my-3">
								Delete Campground
							</button>
						</form>
						<% } %>
					</div>
				</div>
				<div class="card-footer panel-primary">
					<div class="card-text">
						<% campgrounds.comments.forEach(function(comment) { %>
							<div class="row">
								<div class="col-md-12">
									<strong><%= comment.author.username %></strong>
									<a class="float-md-right btn-sm btn btn-info mx-2" href="/campgrounds/
									<%= campgrounds._id %>/comments/new">Add a comment</a>
									<span class="float-md-right">10 days ago</span>
									<p>
										<%= comment.text %>
									</p>
	<!------------------------------USER Authorization---------------------------------->
									<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
										<a class="btn btn-sm btn-secondary" 
					   					href="/campgrounds/<%= campgrounds._id %>/comments/<%= comment._id %>/edit">
											Edit
										</a>
									<form class="button" action="/campgrounds/<%= campgrounds._id %>/comments/
									<%= comment._id %>?_method=DELETE", method="POST">
										<button class="btn btn-sm btn-danger" type="submit">
											Delete 
										</button>
									</form>
									<% } %>
	<!------------------------------USER Authorization--------------------------------------------->
								</div>	
							</div>
						<hr>
						<% }) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>